body{
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.mosaic {
  position: relative;
  width: 30%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: center;
  z-index: -1;
  margin: 65px;
}

.mosaic img{
  padding: 5px;
}

.menu {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height: 10%;
  background-color: rgb(20, 141, 179);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.menu a {
  color:whitesmoke;
}

a:hover{
  color: rgb(1, 3, 2);
}