*{
  box-sizing: border-box;
}
body {
  font-size: 10pt;
  font-family: 'Open Sans', sans-serif;
  background: #f4f8fb;
  color: white;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  padding: 2%;
}

#logo {
  width: 50%;
  height: auto;
}

.masthead {
  /*overflow: hidden;*/
  height:auto;
}

#image-fond{
  position: absolute;
  top: 0;
  right:-500px;
  z-index: -1;
  min-width:100%;
}

.text-masthead {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.text-masthead h1 {
  width: 80%;
  font-size: 20pt;
  font-weight: 300;
  align-self: center;
}

.text-masthead p {
  font-weight: 400;
  width: 80%;
  align-self: center;
}

section{
  padding: 20px;
}

.phones {
  position: absolute;
  width:60%;
  top: 400px;
  right:10px;
  z-index: 1;
}

.screens {
  background-color: #835fa8;
  align-items: center;
  min-height: 350px;
  z-index: 0;
  padding-top:20px;
}

.screens h2 {
  font-weight: 300;
  font-size: 10pt;
}

.screens p {
  font-weight: 400;
  font-size: 8pt;
}

.text{
  background-color:inherit;
  position:absolute;
  display: flex;
  flex-flow:column nowrap;
  justify-content: space-around;
  color: #44484f;
  font-size:7pt;
  font-weight: 400;
  align-items: center;
  z-index:2;
}
.text-box{
  padding:20px;
}
.p1 , .p2{
  padding:5px;
}
.text h2{
  color: #2b303b;
  font-size:8pt;
  font-weight: 300;
}
.blue-button{
  position: relative;
  align-self: center;
}
.blue-button p{
  position: absolute;
  margin:0;
  top:5px;
  left: 30px;
  font-size:6pt;
  text-align: center;
  color: white;
}



